{% extends "layout.html" %}
 
{% block content %}
  <h2>Nueva tarea</h2>
 
  {% for message in form.tarea.errors %}
    <div class="flash">{{message }}</div>
  {% endfor %}
 
  {% for message in form.fecha_realizacion.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
 

 
  <form action="{{ url_for('crear_tareas') }}" method=post>
    {{ form.hidden_tag() }}
 
    {{ form.tarea.label }}
    {{ form.tarea }}
 	
 	{{ form.fecha_realizacion.label }}
    {{ form.fecha_realizacion }}
 	
    {{ form.prioridad.label }}
    {{ form.prioridad }}
 
    {{ form.terminada.label }}
    {{ form.terminada}}
 
    {{ form.descripcion.label }}
    {{ form.descripcion}}
 <br>
    {{ form.submit }}
  </form>
 
{% endblock %}